<!DOCTYPE html>
<html lang='en' class='h-100'>
<head>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="csrf-param" content="authenticity_token" />
<meta name="csrf-token" content="A_O8YgcSMaNloa1OXsqFNVPUZ6IOKkf0_sEHwUWQhnaj72CG4rcaIYKTJCCHgOmqtB25TQ69I1kIvP91OrTvFA" />
  <meta name="csp-nonce" />
  <title>Jetson Download Center | NVIDIA Developer</title>
<meta property="og:site_name" content="NVIDIA Developer">
<meta property="og:title" content="Jetson Download Center">
<meta property="og:type" content="website">
<meta property="og:image" content="https://developer.download.nvidia.com/images/og-default.jpg">
<meta property="og:url" content="https://developer.nvidia.com/embedded/downloads">
<meta name="twitter:title" content="Jetson Download Center">
<meta name="twitter:image" content="https://developer.download.nvidia.com/images/og-default.jpg">
<meta name="twitter:site" content="@NVIDIA">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:creator" content="@NVIDIA">

  <link rel="stylesheet" href="https://developer.nvidia.com/assets/application-9e4a823de8771e59cf1ae04de333e5e14d86a990b878d196a65779d7140a6415.css" media="all" />
  <link rel="stylesheet" href="https://developer.nvidia.com/assets/devzone3/shared/modal-b27162ea9a12461a0b0076440408cdd94ddf4273a6a89539e4b81f4641416436.css" media="all" />
  
  <link rel="stylesheet" href="https://developer.nvidia.com/assets/one-trust-bea625cf16a072ce5fdb0707a19f2645daf63c05eb1a016db72773eba008fc07.css" />
  <script src="https://cdn.cookielaw.org/scripttemplates/otSDKStub.js" charset="UTF-8" data-document-language="true" data-domain-script="3e2b62ff-7ae7-4ac5-87c8-d5949ecafff5"></script>

<script src="https://images.nvidia.com/aem-dam/Solutions/ot-js/ot-custom.js"></script>

<script>
  function OptanonWrapper() {
    let event = new Event('bannerLoaded');
    window.dispatchEvent(event);

  }
</script>


  <script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Organization",
    "name": "NVIDIA Developer",
    "url": "https://developer.nvidia.com",
    "logo": "https://www.nvidia.com/en-us/about-nvidia/legal-info/logo-brand-usage/_jcr_content/root/responsivegrid/nv_container_392921705/nv_container_412055486/nv_image.coreimg.100.630.png/1703060329095/nvidia-logo-horz.png",
    "sameAs": [
      "https://github.com/nvidia",
      "https://www.linkedin.com/company/nvidia/",
      "https://x.com/nvidiadeveloper"
    ]
  }
</script>

    <link rel="stylesheet" href="https://developer.nvidia.com/assets/devzone3/old/fonts-910bdb814ac830981904d69eea803431bc3a5b00aac30ffc85d12983c6511741.css" media="all" />
  <link rel="stylesheet" href="https://developer.nvidia.com/assets/devzone3/old/ballistiq-twitterfeed-61a757e5494e5598582c3610822f4cc0d00c0f1c3d70d478b0004dcebebf2368.css" media="all" />
  <link rel="stylesheet" href="https://developer.nvidia.com/assets/devzone3/old/application-a780279f5932e2d3fe01da14ba98d5c320956ec365747dfca2719798ce778ae6.css" media="all" />
  <link rel="stylesheet" href="https://developer.nvidia.com/assets/devzone3/old/embedded/embedded-bde5659f6ab1dd4f9edcf851e8c12fb3c44ed2de1542a3bd9131d207afdb0d7d.css" media="all" />
  <link rel="stylesheet" href="https://developer.nvidia.com/assets/devzone3/old/overrides-cbc02aeca05448d7c77b2b63dc1faa3f5e58c17afd5afe4a5122591949c5d734.css" media="all" />
  <link rel="stylesheet" href="https://developer.nvidia.com/assets/feed-aggregator/feed-aggregator-9ace7521871242143cb35fa86d5be702c4dacb409600041fa6a5b14fa2a71dde.css" media="all" />
  <link rel="stylesheet" href="https://developer.nvidia.com/assets/gameworks-downloads/gameworks-downloads-82f895acc46423e0d2aea075f3cd133390b97e7f5e373832c6c9ca0af09935ae.css" media="all" />
  <link rel="stylesheet" href="https://developer.nvidia.com/assets/magnific-popup-f0b3331d5e338b20dc30f2d9d95b7178c538512e41502dff8fd609c89cabc324.css" media="all" />

  <script src="https://assets.adobedtm.com/5d4962a43b79/c1061d2c5e7b/launch-191c2462b890.min.js" data-ot-ignore="true"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js" integrity="sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script src="https://api-prod.nvidia.com/search/nvidia-gallery-widget.js"></script>

<script src="https://developer.nvidia.com/assets/devzone3/modules/nvidia_editor/nod_widgets-8c38a7d04ed3c3acd9117aa126bf76d7902d3c57c72b76dbf3c281c96ed09975.js"></script>


  <link rel="icon" type="image/x-icon" href="https://developer.nvidia.com/assets/favicon-81bff16cada05fcff11e5711f7e6212bdc2e0a32ee57cd640a8cf66c87a6cbe6.ico" />
</head>

<body class='d-flex flex-column h-100' data-theme=''>

<div id='header'></div>







<div id='content-background' class='white-background'>
  <div class="container">
    <div class="row">
      <section class="col-sm-12">
        <div class="separator"></div>
        <div class="page-header"><h1 class="title">Jetson Download Center</h1></div>
      </section>
    </div>
    <div class="row">
      <div class="col-sm-10">
        <div class="row">
          <div class="col-md-12">
            <h2 class="lead" style="margin-bottom: 0">See below for downloadable documentation, software, and other resources.</h2>
          </div>
          <div class="col-md-12">
            <h3 class="lead" style="margin-bottom:8px; margin-top:8px; font-size:16px;"><b>New to the Jetson platform?</b></h3>
            <ul class="list-no-indent">
              <li>
                Please read the <a href="/embedded/faq">FAQ</a>, check out our <a href="/embedded/community/support-resources">support resources</a>, <a href="/embedded/learn/tutorials">tutorials</a>, and browse the <a href="https://docs.nvidia.com/jetson/index.html">online documentation</a>
              </li>
              <li>
                <p>Documents to start with are:</p> <ul class="list-responsive"> <li><a href="#?search=Developer%20Kit%20User%20Guide">Jetson Developer Kit user guides</a></li> <li><a href="#?search=Data%20Sheet">Jetson module datasheets</a></li> <li><a href="https://docs.nvidia.com/jetson/l4t/index.html">Jetson Linux Developer Guide</a></li> <li><a href="#?search=Pin%20and%20Function%20Names%20Guide">Pin and function names guides</a></li> <li><a href="/embedded/jetson-pcn-center">Jetson PCN Center</a></li> </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-sm-2">
        <div style="margin-top: 0; background-color: #F7F7F7; border-color: #CCC;" class="alert">
          <p>Find older items in the <br class="visible-md visible-lg"><a href="/embedded/downloads/archive">Jetson Downloads Archive</a></p>
        </div>
      </div>
    </div>

    <div id="block-ballistiq-gameworks-downloads-content">
      <div class="gameworks-downloads" ng-app="nv-gameworks-downloads" ng-controller="DownloadsController" ng-class="{ 'gameworks-downloads-visible': dataInitialized }">
  <aside id="left" class="col-md-3 hidden-sm hidden-xs" role="complementary">
    <div class="region region-sidebar-first well">
      <section id="block-ballistiq-gameworks-downloads-filter" class="block block-ballistiq-gameworks-downloads contextual-links-region clearfix">
        <div>
          <input class="form-control" ng-change="filterFiles()" ng-model="searchTerm" placeholder="Filter..." type="search" />
          <div class="separator"></div>
          <accordion class="taxonomy" close-others="false">
            <accordion-group is-open="expandOnLoad || anyTaxonomySelectedInTaxonomy(taxonomy.key)" ng-repeat="taxonomy in taxonomies">
              <accordion-heading>
                <span class="chevron">
                  <i class="fa fa-angle-right" ng-show="!$$prevSibling.isOpen"></i>
                  <i class="fa fa-angle-down" ng-show="$$prevSibling.isOpen"></i>
                </span>
                {{ taxonomy.title }}
                <span class="taxonomies-selected" ng-show="anyTaxonomySelectedInTaxonomy(taxonomy.key)">
                  <i class="fa fa-circle"></i>
                </span>
              </accordion-heading>
              <ul>
                <li ng-repeat="attribute in taxonomy.values">
                  <div class="checkbox">
                    <label><input ng-change="filterFiles()" ng-model="selectedTaxonomies[taxonomy.key][attribute.key]" type="checkbox" /><span>&nbsp;{{ attribute.title }}</span></label>
                  </div>
                </li>
              </ul>
              <div class="clear-all" collapse="!anyTaxonomySelectedInTaxonomy(taxonomy.key)">
                <a class="btn btn-success btn-xs" ng-click="clearAllInTaxonomy(taxonomy.key)">Clear Filters</a>
              </div>
            </accordion-group>
          </accordion>
          <div class="separator"></div>
          <p class="clear-all" collapse="(!anyTaxonomySelected() && !searchTerm)">
            <a class="btn btn-success btn-xs" ng-click="clearAllTaxonomies()">Clear All Filters</a>
          </p>
        </div>
      </section> <!-- /.block -->
    </div>
  </aside>

  <div class="col-md-9 col-xs-12 col-sm-12" role="region" aria-label="Downloads">
    <div class="results-text" ng-show="downloads.length == 0">
      <p>No downloads meet your criteria. <span ng-bind-html="chosenFilters"></span></p>
    </div>
    <div ng-show="downloads.length &gt; 0">
      <p class="results-text" ng-show="downloads.length == totalDownloadsCount">
        Showing {{ totalDownloadsCount }} downloads.
      </p>
      <p class="results-text" ng-show="downloads.length != totalDownloadsCount">
        Showing {{ downloads.length }} of {{ totalDownloadsCount }} downloads. <span ng-bind-html="chosenFilters"></span>
      </p>
      <div class="table-downloads">
        <div class="row table-header">
          <div class="col-xs-7 col-sm-7 col-md-7 col-lg-8">
            <a class="sort-link" ng-click="orderColumn('title')" ng-model="columnOrderings.directions.title">Title </a>
            <i class="fa fa-angle-down" ng-show="columnOrderings.directions.title == '-1'"></i>
            <i class="fa fa-angle-up" ng-show="columnOrderings.directions.title == '1'"></i>
          </div>
          <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
            <a class="sort-link" ng-click="orderColumn('version')" ng-model="columnOrderings.directions.version">Version </a>
            <i class="fa fa-angle-down" ng-show="columnOrderings.directions.version == '-1'"></i>
            <i class="fa fa-angle-up" ng-show="columnOrderings.directions.version == '1'"></i>
          </div>
          <div class="col-xs-3 col-sm-3 col-md-3 col-lg-2">
            <a class="sort-link" ng-click="orderColumn('date')" ng-model="columnOrderings.directions.date">Release Date </a>
            <i class="fa fa-angle-down" ng-show="columnOrderings.directions.date == '-1'"></i>
            <i class="fa fa-angle-up" ng-show="columnOrderings.directions.date == '1'"></i>
          </div>
        </div>
        <div class="row download-row" ng-class="{ active: download.descriptionVisible }" ng-repeat="download in downloads">
          <div class="col-xs-12">
            <div class="row download-header" ng-class="{ active: download.descriptionVisible }">
              <div class="col-xs-7 col-sm-7 col-md-7 col-lg-8">
                <button type="button" class="download-title" ng-click="toggleDescriptionVisibility(download)"
                        aria-expanded="{{download.descriptionVisible}}" aria-controls="download-desc-{{download.key}}">
                  <span class="download-chevron">
                    <i class="fa fa-angle-right" ng-show="!download.descriptionVisible"></i>
                    <i class="fa fa-angle-down" ng-show="download.descriptionVisible"></i>
                  </span>{{ download.title }}
                </button>&nbsp;
                <span class="new-label label label-default" ng-show="{{ download.newDownload }}">New</span>
              </div>
              <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 text-br">
                {{ download.version }}
              </div>
              <div class="col-xs-3 col-sm-3 col-md-3 col-lg-2">
                {{ download.date }}
              </div>
            </div>
            <div class="row" id="download-desc-{{download.key}}" collapse="!download.descriptionVisible">
              <div class="col-xs-7 col-sm-7 col-md-7 col-lg-8">
                <div class="description">
                  <p>
                    <span ng-bind-html="download.description"></span>&nbsp;
                  </p>
                  <p>
                    <a href="{{ download.url }}">More Information <i class="fa fa-angle-right"></i></a>
                  </p>
                  <p class="small" ng-show="debug">
                    Debug:<br />
                    Priority: {{ download.priority }}<br />
                    Targets: {{ download.targets }}<br />
                    Platforms: {{ download.platforms }}<br />
                    APIs: {{ download.apis }}<br />
                    Types: {{ download.types }}<br />
                    Processors: {{ download.processors }}<br />
                    Activities: {{ download.activities }}
                  </p>
                </div>
              </div>
              <div class="col-xs-5 col-sm-5 col-md-5 col-lg-4">
                <div class="downloads">
                  <div class="downloads-title">
                    Downloads
                  </div>
                  <ul>
                    <li ng-repeat="file in download.files">
                      <a href="#" ng-if="file.eula" download="{{ file.url }}" eula="{{ file.eula }}">
                        <span ng-show="file.iconClass"><i class="fa" ng-class="file.iconClass"></i> </span><span ng-show="file.iconImage"><img ng-src="{{ file.iconImage }}" /> </span>{{ file.name }}
                      </a>
                      <a ng-if="!file.eula" href="{{ file.url }}" target="{{ file.separate ? '_blank' : '_self' }}">
                        <span ng-show="file.iconClass"><i class="fa" ng-class="file.iconClass"></i> </span>
                        <span ng-show="file.iconImage"><img ng-src="{{ file.iconImage }}" /> </span>
                        {{ file.name }}
                      </a>
                    </li>
                  </ul>
                  <div class="dependencies" ng-show="download.dependencies.length &gt; 0">
                    <div class="downloads-title">Dependencies</div>
                    <ul>
                      <li ng-repeat="dependency in download.dependencies">
                        {{ dependency.title }}<br />
                        <ul>
                          <li ng-repeat="file in dependency.files">
                            <a href="#"  ng-if="file.eula" download="{{ file.url }}" eula="{{ file.eula }}">
                              <span ng-show="file.iconClass"><i class="fa" ng-class="file.iconClass"></i> </span>
                              <span ng-show="file.iconImage"><img ng-src="{{ file.iconImage }}" /> </span>
                              {{ file.name }}
                            </a>
                            <a ng-if="!file.eula" href="{{ file.url }}" target="{{ file.separate ? '_blank' : '_self' }}">
                              <span ng-show="file.iconClass"><i class="fa" ng-class="file.iconClass"></i> </span>
                              <span ng-show="file.iconImage"><img ng-src="{{ file.iconImage }}" /> </span>
                              {{ file.name }}
                            </a>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div style="display:none">
        <div id="agreement">
          <iframe frameborder="0" src="" name="" class="cboxIframe" allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscree="true"></iframe>
          <div class="pull-right panel-body">
            <input id="agree" type="button" class="btn btn-primary" value="I Accept"/>
            <input id="disagree" type="button" class="btn btn-primary" value="Cancel"/>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

    </div>
  </div>
</div>

<div id='footer' class='mt-auto'></div>

  <script type="text/javascript" charset="utf-8">
    window.dlc_data = '/embedded/downloads.json'
  </script>
  <script src="https://developer.nvidia.com/assets/colorbox/jquery.colorbox-min-db6d918c9342531591cd1e74dac6d1c94fb565c38f549e44803dd780e10efde8.js"></script>
  <script src="https://developer.nvidia.com/assets/jquery.magnific-popup.min-ba84e1e82baa7af6354457bc7e29264e0e87eeeada21ae4f8d60286f1314700b.js"></script>
  <script src="https://developer.nvidia.com/assets/gameworks-downloads/angular-b4d4e4dfe4b8bf240a3b3ad67bd367a5ffde497ec3949102e86e7f364d6cb62b.js"></script>
  <script src="https://developer.nvidia.com/assets/gameworks-downloads/angular-sanitize-74932b207cbd257c7093981ceab1725bd1a1ce67523c8f6c7e2111cd0477220b.js"></script>
  <script src="https://developer.nvidia.com/assets/gameworks-downloads/angular-bootstrap-07ed814704c2364126961cc322803e501f085290eafd601c07c7c275044b5698.js"></script>
  <script src="https://developer.nvidia.com/assets/gameworks-downloads/angular-bootstrap-templates-cd0a5d577f3c6ba6ce83011f48d56499db9adfd25a5f64d3efeb853c2ea1124c.js"></script>
  <script src="https://developer.nvidia.com/assets/gameworks-downloads/gameworks-filters-5916315b3e6485a724f0d177f0aa0c1054325acf6834d0270979a68df44e817d.js"></script>
  <script src="https://developer.nvidia.com/assets/gameworks-downloads/gameworks-downloads-cf5a28b55d1b6535a0df238ca4f888302bf18057dcc8b9e5740f75cb1f25d9d0.js"></script>

<script src="https://developer.nvidia.com/assets/nv-developer-menu-8ae864e49d5d53c328146a66e7ad6d73242af7511f642a7d1aa1ffedd496f826.js"></script>
  <div id='footer' class='mt-auto'></div>
  <script src="https://www.nvidia.com/content/dam/en-zz/Solutions/librarian/bundle-search-prod-pub-v3.1.js"></script>
  <div id="librarian-overlay"></div>
  <script defer>
    setTimeout(() => {
      LIBRARIAN.Home.mount({
        elementId: 'librarian-overlay',
        searchPage: false,
        placeholder: '',
        site: 'https://developer.nvidia.com',
        retainFilters: true,
        overlay: true,
        pillsOpen: true,
        suggestedSearchPills: []
      })
    }, 1000)
  </script>
<script>
  let menuLocale = 'en';

  if (menuLocale == 'en') {
    menuLocale = 'en-US';
  }

  function mountHeader(data = false) {
    const headerTarget = document.getElementById('header');
    if (!headerTarget) {
      return;
    }
    let options = {
      baseURL: window.location.origin,
      signedIn: false,
      locale: menuLocale
    };

    if (data) {
      options.secondaryMenu = data;
    }


    options.showMembershipCardLink = true;

    new NVDeveloperHeader({
      target: headerTarget,
      props: options
    });
  }

  function mountFooter(data = false) {
    const footerTarget = document.getElementById('footer');
    if (!footerTarget) {
      return;
    }
    let options = {
      menu: data,
      locale: menuLocale
    };

    new NVDeveloperFooter({
      target: document.getElementById('footer'),
      props: options
    });
  }

  let url = 'd29g4g2dyqv443.cloudfront.net';
  let headerMenuURL = "";

  if (headerMenuURL) {
    fetch(headerMenuURL)
      .then(response => response.json())
      .then(data => {
        mountHeader(data);
      })
      .catch((error) => {
        mountHeader();
        window.nv.tracing.addError('menu', error);
      });
  } else {
    mountHeader();
  }

  fetch(`https://${url}/menu/${menuLocale}/footer.json`)
    .then(response => response.json())
    .then(data => {
      mountFooter(data);
    })
    .catch((error) => {
      mountFooter();
      window.nv.tracing.addError('menu', error);
    });
</script>




<script>
  let silentAuthHost = 'www.nvidia.com';
  let crossOriginPageUrl = `https://${silentAuthHost}/auth/hints/`;

  function readHint() {
    return new Promise((resolve) => {
      const { origin: targetOrigin } = new URL(crossOriginPageUrl);

      const iframe = document.createElement('iframe');
      iframe.hidden = true;
      iframe.src = crossOriginPageUrl;

      function responseHandler(event) {
        if (event.origin === targetOrigin) {
          iframe.parentNode.removeChild(iframe);
          return resolve(event.data);
        }
      }

      window.addEventListener('message', responseHandler, { once: true });

      iframe.onload = () => {
        iframe.contentWindow.postMessage({ type: 'read' }, targetOrigin);
      }

      document.body.appendChild(iframe);
    });
  }

  function writeHint(login_hint, idp_id, timestamp, sub) {
    const { origin: targetOrigin } = new URL(crossOriginPageUrl);

    const iframe = document.createElement('iframe');
    iframe.hidden = true;
    iframe.src = crossOriginPageUrl;

    iframe.onload = () => {
      const message = { type: 'write', login_hint, idp_id, timestamp, sub };
      iframe.contentWindow.postMessage(message, targetOrigin);
    }

    document.body.appendChild(iframe);
  }

  function deleteHint() {
    const { origin: targetOrigin } = new URL(crossOriginPageUrl);

    const iframe = document.createElement('iframe');
    iframe.hidden = true;
    iframe.src = crossOriginPageUrl;

    iframe.onload = () => {
      iframe.contentWindow.postMessage({ type: 'delete' }, targetOrigin);
    }

    document.body.appendChild(iframe);
  }


</script>

<script>_satellite.pageBottom();</script>
<script src="https://developer.nvidia.com/assets/nv-alert/nv-alert-2fcf4faf418bd05dbbfc6d06c67713fd512ff67b25b6059be61edd35a7bcc0ed.js"></script>
<script src="https://developer.nvidia.com/packs/js/runtime-f904b50470fcb0ec9bf4.js" defer="defer"></script>
<script src="https://developer.nvidia.com/packs/js/4692-e2ed051c68e93113bb58.js" defer="defer"></script>
<script src="https://developer.nvidia.com/packs/js/2681-6ac336ff34441936c0fb.js" defer="defer"></script>
<script src="https://developer.nvidia.com/packs/js/2778-e8f3c5f27fbb1956fdb2.js" defer="defer"></script>
<script src="https://developer.nvidia.com/packs/js/9878-baa65d618824b708a55b.js" defer="defer"></script>
<script src="https://developer.nvidia.com/packs/js/8465-f321c9c28242e4383fa8.js" defer="defer"></script>
<script src="https://developer.nvidia.com/packs/js/4622-1cd0dbd2a0f0b5243900.js" defer="defer"></script>
<script src="https://developer.nvidia.com/packs/js/3566-c56dfeed5cc4ed4a9b8f.js" defer="defer"></script>
<script src="https://developer.nvidia.com/packs/js/486-1ddc749b634c231b0122.js" defer="defer"></script>
<script src="https://developer.nvidia.com/packs/js/8311-71b2da0387dad11f356f.js" defer="defer"></script>
<script src="https://developer.nvidia.com/packs/js/1252-6d8bb3f37b33aca41843.js" defer="defer"></script>
<script src="https://developer.nvidia.com/packs/js/8823-bac8f579788282b3f2cd.js" defer="defer"></script>
<script src="https://developer.nvidia.com/packs/js/2104-29621183e9a96bb055ad.js" defer="defer"></script>
<script src="https://developer.nvidia.com/packs/js/6900-b1b00a8ef19d3868862c.js" defer="defer"></script>
<script src="https://developer.nvidia.com/packs/js/application-afbb46c9b6cc3093d8f1.js" defer="defer"></script>
<script src="https://developer.nvidia.com/packs/js/ls_track-d4505a41101e752062c8.js" defer="defer"></script>
</body>
</html>
